* {
	box-sizing: border-box;
}
.heading
{
	font-size: 175%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	
}
.para{

	float: left;
	border: 1px solid black;
	background-color: grey;
	width: 90%;
	height: auto;
	margin-right: 15px;
	margin-left: 15px;
	font-family: Helvetica;
	word-wrap: break-word;
}
.content 
{
	float: left;
	padding: 15px 15px 15px 15px;
}

.sub_headings1
{
	float: left;
	font-size: 125%;
	position: relative;
	top: -56%;
	right: -60.3%;
	margin-right: 100%;
	background-color: pink;
	text-align: center;
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;
	border: 1px solid black; 


}
.sub_headings2
{
	float: left;
	font-size: 125%;
	position: relative;
	left: 60%;
	bottom: 11%;
	margin-right: 100%;
	background-color: maroon;
	text-align: center;
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;
	border: 1px solid black; 
	color: white;
}
.sub_headings3
{
	float: left;
	font-size: 125%;
	position: relative;
	left: 60.2%;
	bottom: 11%;
	margin-right: 100%;
	background-color: yellow;
	text-align: center;
	width: 40%;
	padding-left: 5%;
	padding-right: 5%;
	border: 1px solid black; 

}

.row
{
	width: 100%;
}
@media (min-width: 992px)
{
	.col-lg-1,.col-lg-2,.col-lg-3
	{
		
		float: left;
		
		
	}
	.col-lg-1 {
		width: 33.33%;
	}
	.col-lg-2 {
		width: 33.33%;
	}
	.col-lg-3 {
		width: 33.33%;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-1,.col-md-2,.col-md-3
	{
		
		float: left;
		
		
	}
	.col-md-1 {
		width: 50%;
	}
	.col-md-2 {
		width: 50%;
	}
	.col-md-3 {
		width: 100%;
	}
}
